@import "~src/styles/variables";
.app {
  .app-header {
    display: flex;
    background-color: $dark-grey;
  }
}

.default-button {
  background-color: $base-green;
  color: $base-white;
  padding: 1rem;
  outline: none;
  border-radius: 1rem;
  border: none;
  margin: 0.2rem;
  &:active {
    background-color: $dark-green;
  }
}
